<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибочка</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header class="header">
        <div class="logo">SEO Zen</div>
        <nav class="nav">
            <a href="/">На главную</a>
        </nav>
    </header>
    <section id="error-section" class="section">
        <h2>У нас что-то сломалось :-(</h2>
        <p class="detail">Сообщение об ошибке: {{ detail }}</p>
        <img src="https://people.com/thmb/aaQtgLVy5cJkYUSEQbpOlgWm5-4=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(899x0:901x2):format(webp)/21042210_264995290674140_8840525631411191808_n-530848c0d1134a31bc03861ea9ddd700.jpg" alt="Sad cat">
        <h3>Что делать?</h3>
        <ul>
            <p>Проверь разрешение файла. Он должен быть в формате XLS, XLSX или CSV</p>
            <p>Проверь формат таблицы. Возможно она не соответствует требованиям сайтам и моя программа не знает, как её обработать</p>
            <p>Попробуй вернуться <a href="/">на главную</a> и отправить запрос ещё раз. Возможно проблема на нашей стороне</p>
        </ul>
    </section>
    <footer class="footer">
        <p>&copy; 2024 SEO Zen. All rights reserved.</p>
    </footer>
</body>
</html>
